{% extends 'core/base.html' %}

{% load static %}

{% block title %}Historia | Tesis{% endblock %}

{% block content %}
<section class="page-section about-heading">
  <div class="container">
    <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="{% static 'core/img/about4.jpg' %}" alt="">
    <div class="about-heading-content">
      <div class="row">
        <div class="col-xl-9 col-lg-10 mx-auto">
          <div class="bg-faded rounded p-5">
            <h2 class="section-heading mb-4">
              <span class="section-heading-upper">Desde 1998</span>
              <span class="section-heading-lower">Nuestra historia</span>
            </h2>
            <p>Desde 1998, Tesis es el alma de la noche en Villanueva de la Cañada. Fundada por dos amigos apasionados por la música, nació como un sueño universitario y se convirtió en un lugar icónico donde generaciones han bailado y creado recuerdos inolvidables.</p>
            <p>Con su ambiente vibrante, eventos temáticos y DJs de renombre, Tesis se ha consolidado como un espacio de referencia para quienes buscan diversión, música de calidad y un entorno único. Más de 25 años después, sigue marcando el ritmo de las noches, siendo mucho más que una discoteca: un símbolo de conexión y alegría.</p>
          </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
