{% extends 'core/base.html' %}

{% load static %}

{% block title %}Historia | Tesis{% endblock %}

{% block content %}
<section class="page-section about-heading" data-aos="fade-up">
  <div class="container">
    <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="{% static 'core/img/about4.jpg' %}" alt="" data-aos="fade-right" data-aos-delay="200">
    <div class="about-heading-content">
      <div class="row">
        <div class="col-xl-9 col-lg-10 mx-auto">
          <div class="bg-faded rounded p-5" data-aos="fade-left" data-aos-delay="400">
            <h2 class="section-heading mb-4">
              <span class="section-heading-upper" data-aos="fade-down">Desde 1998</span>
              <span class="section-heading-lower" data-aos="fade-up" data-aos-delay="200">Nuestra historia</span>
            </h2>
            <p data-aos="fade-in" data-aos-delay="600">
              Desde 1998, Tesis es el alma de la noche en Villanueva de la Cañada. Fundada por dos amigos apasionados por la música, nació como un sueño universitario y se convirtió en un lugar icónico donde generaciones han bailado y creado recuerdos inolvidables.
            </p>
            <p data-aos="fade-in" data-aos-delay="800">
              Con su ambiente vibrante, eventos temáticos y DJs de renombre, Tesis se ha consolidado como un espacio de referencia para quienes buscan diversión, música de calidad y un entorno único. Más de 25 años después, sigue marcando el ritmo de las noches, siendo mucho más que una discoteca: un símbolo de conexión y alegría.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
