<!DOCTYPE html>
<html lang="es">

<head>
    {% load static %}
    {% load pages_extras %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Inicio | Tesis</title>

    <!-- Bootstrap -->
    <link href="{% static 'core/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Fuentes -->
    <link href="{% static 'core/vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">

    <!-- AOS CSS -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

    <!-- Estilos -->
    <link href="{% static 'core/css/business-casual.css' %}?v=2" rel="stylesheet">
</head>

<body>
    <h1 class="site-heading text-center text-white d-none d-lg-block">
        <span class="site-heading-upper text-primary mb-3" data-aos="fade-down">Donde la Noche Empieza</span>
        <span class="site-heading-lower" data-aos="fade-up" data-aos-delay="200">Tesis</span>
    </h1>

    <!-- Navegación -->
    <nav class="navbar navbar-expand-lg navbar-dark py-lg-4" id="mainNav" data-aos="fade-in">
        <div class="container">
            <a class="navbar-brand text-uppercase text-expanded font-weight-bold d-lg-none" href="{% url 'index' %}">Tesis</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item px-lg-4 {% if request.path == '/' %}active{% endif %}" data-aos="zoom-in">
                        <a class="nav-link text-uppercase text-expanded" href="{% url 'index' %}">Inicio</a>
                    </li>
                    <li class="nav-item px-lg-4 {% if request.path == '/about/' %}active{% endif %}" data-aos="zoom-in" data-aos-delay="200">
                        <a class="nav-link text-uppercase text-expanded" href="{% url 'about' %}">Historia</a>
                    </li>
                    <li class="nav-item px-lg-4 {% if request.path == '/services/' %}active{% endif %}" data-aos="zoom-in" data-aos-delay="400">
                        <a class="nav-link text-uppercase text-expanded" href="{% url 'services' %}">Eventos</a>
                    </li>
                    <li class="nav-item px-lg-4 {% if request.path == '/store/' %}active{% endif %}" data-aos="zoom-in" data-aos-delay="600">
                        <a class="nav-link text-uppercase text-expanded" href="{% url 'store' %}">Contacto</a>
                    </li>
                    <li class="nav-item px-lg-4 {% if request.path == '/contact/' %}active{% endif %}" data-aos="zoom-in" data-aos-delay="800">
                        <a class="nav-link text-uppercase text-expanded" href="{% url 'contact' %}">Entradas</a>
                    </li>
                    <li class="nav-item px-lg-4 {% if request.path|slice:":6" == '/blog/' %}active{% endif %}" data-aos="zoom-in" data-aos-delay="1000">
                        <a class="nav-link text-uppercase text-expanded" href="{% url 'blog' %}">Blog</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Pié de página -->
    <footer class="footer text-faded text-center py-5" data-aos="slide-up">
        <div class="container">
            <!-- Redes Sociales -->
            <p class="m-0">
                {% if LINK_TWITTER %}
                <a href="{{ LINK_TWITTER }}" class="link">
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                    </span>
                </a>
                {% endif %}
                {% if LINK_FACEBOOK %}
                <a href="{{ LINK_FACEBOOK }}" class="link">
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                    </span>
                </a>
                {% endif %}
                {% if LINK_INSTAGRAM %}
                <a href="{{ LINK_INSTAGRAM }}" class="link">
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
                    </span>
                </a>
                {% endif %}
            </p>

            <!-- Enlaces de las páginas -->
            <p class="m-0 mbt">
                {% get_page_list as page_list %}
                {% for page in page_list %}
                <a href="{% url 'page' page.id page.title|slugify %}" class="link" data-aos="fade-in" data-aos-delay="200">{{ page.title }}</a>
                {% if not forloop.last %}·{% endif %}
                {% endfor %}
            </p>

            <p class="m-0 mbt1">&copy; Tesis 1998</p>
        </div>
    </footer>

    <!-- Bootstrap -->
    <script src="{% static 'core/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'core/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- AOS JS -->
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init({
            once: true, // Animar una sola vez
            duration: 1000, // Duración de la animación
            delay: 0, // Sin retraso global
        });
    </script>
</body>

</html>
